html,
body {
  min-height: 100%;
}
body {
  background-image: linear-gradient(
    to bottom,
    #ffffff 30%,
    #88d9ff,
    #24206c,
    #222 80%
  );
  color: #333;
  background-size: 100% 400%;
  background-position: 100% 0%;
  transition: all 1s;
}
body.night {
  background-position: 100% 100%;
  color: #cccccc;
}
.blog-entry .text .heading a:hover .night,
.blog-entry .text .heading a:focus .night,
.blog-entry .text .heading a:active .night {
  color: #0075f6;
}

.blog-entry .text .heading a.night {
  color: #fff;
}

span.subheading.night {
  background-position: 100% 100%;
  color: #fff;
}
.progress-bar .night {
  background-position: 100% 100%;
  color: #ffffff;
}
a .nav-link span .night {
  background-position: 100% 100%;
  color: white;
  background-color: white;
}
.night_n{
  color:black;
}
.white_n{
  color: white;
}
@media (max-width: 991.98px){
  .night_n{
    color: white;
  }
  }
.night_nav{
  color:black !important;
}
p.night {
  background-position: 100% 100%;
  color: #fff;
}
h1.night {
  background-position: 100% 100%;
  color: #fff !important;
}
h2.night {
  background-position: 100% 100%;
  color: #fff;
}
h3.night {
  background-position: 100% 100%;
  color: #fff;
}
h4.night {
  background-position: 100% 100%;
  color: #fff;
}
h5.night {
  background-position: 100% 100%;
  color: #fff;
}
h6.night {
  background-position: 100% 100%;
  color: #fff;
}
.toggle-box-label-left:empty {
  margin-left: -10px;
}
.toggle-box-label-left:before,
.toggle-box-label-left:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*transition*/
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  outline: none;
}
.toggle-box input[type="checkbox"],
.toggle-box input[type="checkbox"]:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}
.toggle-box label {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  color: rgba(149, 149, 149, 0.51);
  font-weight: normal;
}
.toggle-box-label-left:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 16px;
  width: 16px;
  margin: 4px;
  /*border-radius*/
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  right: 26px;
  bottom: 0px;
  background: #ffb200;
  transform: rotate(-45deg);
  box-shadow: 0 0 10px white;
}
.toggle-box-label-left:after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 24px;
  /*border-radius*/
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  vertical-align: middle;
  margin: 0 10px;
  border: 2px solid #ffb200;
}
.toggle-box input[type="checkbox"]:checked + .toggle-box-label-left:before {
  right: 17px;
  box-shadow: 5px 5px 0 0 #eee;
  background: transparent;
}
.toggle-box input[type="checkbox"]:checked + .toggle-box-label-left:after {
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid white;
  vertical-align: middle;
}
.toggle-box input[type="checkbox"] + .toggle-box-label-left {
  color: rgba(250, 250, 250, 0.51);
  font-weight: bold;
}
.toggle-box input[type="checkbox"]:checked + .toggle-box-label-left {
  color: rgba(149, 149, 149, 0.51);
  font-weight: normal;
}
.toggle-box
  input[type="checkbox"]:checked
  + .toggle-box-label-left
  + .toggle-box-label {
  color: rgba(250, 250, 250, 0.51);
  font-weight: bold;
}
